/* Sección de inicio */
.inicio {
    background-color: #f3f2f9;
}

:where(h1) {
    font-size: 1em;
}

.inicio h2 {
    font-size: 4em;
    line-height: 1em;
}

.inicio p {
    font-size: 1em;
    text-align: justify;
}

.inicio a {
    display: inline-block;
    background: rgb(0, 71, 143);
    background: linear-gradient(340deg, rgba(0, 71, 143, 1) 0%, rgba(70, 155, 203, 1) 100%);
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.25s ease;
}

.inicio a:hover {
    background-color: #1c9efb;
}

.inicio img {
    margin: 80px 0;
}

/* Sección de servicios */
.servicios {
    background-color: #fcfcfc;
}

.servicios h2 {
    font-size: 3rem;
}

.panel-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 400px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.05);
    border: 2px solid #0c5adb;
    text-align: center;
    box-sizing: border-box;
    transition: all .25s ease;
}

.servicio:hover {
    transform: translateY(-2px)
}

.servicio:hover img {
    animation: vibrate 0.5s linear;
}

.servicio h3 {
    font-size: 24px;
    line-height: 1em;
    color: #0c5adb;
}

.servicio .servicio-content{
    line-height: 2.5rem;
    padding: 10px 0;
    font-weight: bold;
    color: #808080;
}

.servicio a {
    display: block;
    width: 90%;
    margin: auto;
    color: #ffffff;
    background-color: #0c5adb;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 6px;
    transition: all 0.25s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

.servicio a:hover {
    background-color: #db540c;
}

/* Sección de tecnologías */
.tecnos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tecno{
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.tecno span{
    display: block;
}

/* Sección de contacto */
.contacto {
    background-color: #eaf8ff;
}

.contacto .content {
    padding: 40px;
}

.contacto form {
    background-color: #ffffff;
    color: #051a29;
    border-radius: 10px;
    padding: 20px;
}

.contacto form .form-group {
    margin-bottom: 20px;
}

.contacto form .form-group label {
    display: inline-block;
    margin-bottom: 5px;
}

.contacto form .form-group input[type="text"],
.contacto form .form-group input[type="email"],
.contacto form .form-group input[type="number"],
.contacto form .form-group input[type="tel"],
.contacto form .form-group textarea {
    width: 100%;
    border: 1px solid #9eb4c5;
    background-color: rgba(0, 0, 0, 0);
    height: 2.5em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.contacto form .form-group input[type="text"]:focus,
.contacto form .form-group input[type="email"]:focus,
.contacto form .form-group input[type="number"]:focus,
.contacto form .form-group input[type="tel"]:focus,
.contacto form .form-group textarea:focus {
    border-color: #0e95f6;
}

.contacto form .form-group textarea {
    height: 6em;
}

.contacto form .form-group label {
    font-weight: 600;
}

.contacto form table {
    width: 260px;
    margin: auto;
}

.contacto form button {
    width: 100%;
    border: 0;
    background-color: #051a29;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.25s ease;
}

.contacto form button:hover {
    background-color: #123148;
}

.contacto form button:disabled {
    background-color: #a3aaae;
    color: #dcdcdc;
}

@media (max-width: 768px) {
    .inicio img {
        margin: 0;
    }
}